<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=10,user-scalable=no">
    <title>시간 게임</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div id="gtimer-top-bar">
        <div id="gtimer-stage">Stage2</div>
        <div id="gtimer-number">3</div>
        <div id="gtimer-score">초에 가장 가까운 순간에 버튼을 누르세요!</div>
        <div id="gtimer-progress-bar-container">
            <div id="gtimer-progress-bar"></div>
        </div>
    </div>
    <div>
        <div id="countdown" onclick="listener_game();">시작</div>
        <div id="gtimer-describe">
            부정한 방법으로 게임에 참여하는 경우,<br> 참여가 중단되거나 리워드가 회수될 수 있습니다.
        </div>
    </div>
<!-- 모달 창 -->
<div id="modal" style="display: none;">
    <div id="gtimer-modal-content">
        <!-- <h2 id="gtimer-modal-title">시간 멈추기 성공!</h2>
        <p id="gtimer-modal-description">게임을 클리어 하였어요!</p> -->
        <p id="gtimer-modal-highlight">
            숫자 3은 우리 환경에서 <br>중요한 의미를 가지고 있습니다!
        </p>
        <div id="gtimer-modal-3r">
            <p id="gtimer-modal-3r-main">3R 원칙 (Reduce, Reuse, Recycle)</p>
            <p>환경 보호를 위한 가장 기본적인 3가지 실천 원칙</p>
            <div id="gtimer-modal-3r-list">
                <p>1. Reduce(줄이기): <br>불필요한 소비를 줄여 쓰레기 배출 최소화</p>
                <p>2. Reuse(재사용): <br>가능한 물건은 한 번 더 사용해 자원 절약</p>
                <p>3. Recycle(재활용): <br>자원을 새롭게 가공해 다시 활용</p>
            </div>
        </div>
        <img id="gtimer-modal-image" src="/img/otter2.png" alt="Character">
        <div class="create-speech-bubble bottom">이 간단한 3단계로 지속 가능한 <br>지구를 만드는데 기여할수 있습니다!</div>
        <button id="gtimer-modal-button" onclick="location.replace('/gtimer/award');">확인했습니다</button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    let clock = 0;
    let gameActive = false;
    let totalGameTime = 10000; // 게임 시간 10초
    let progressInterval = null;

    const userId = localStorage.getItem("reqUserId");
    $("#detail_username").text(localStorage.getItem("reqUserUsername"));

    function listener_game() {
        //alert(1);
        if(gameActive){
            clearInterval(progressInterval);

            // 모달 표시
            const modal = document.getElementById('modal');
            modal.style.display = 'flex';

            let point = 3 - clock;
            if(point < 0){
                point = point * -1;
            }

            $.ajax({
                url: "/api/gtimer",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    userId: userId,
                    point: point
                }),
                cache: false,
                success: (obj_data, status, xhr) => {
                    console.log("AJAX Success:", obj_data);
                    //alert("성공적으로 저장되었습니다!");

                    const modal = document.getElementById('modal');
                    modal.style.display = 'flex';

                    /*// 2초 후 모달 닫기 및 페이지 이동
                    modalTimer = setTimeout(() => {
                        modal.style.display = 'none';
                        location.replace("/gtimer/award");
                    }, 2000);*/
                },
                error: (xhr, status, error) => {
                    console.error("AJAX Error:", xhr.responseText);
                    alert("서버 저장 중 오류가 발생했습니다.");
                }
            });

        } else {
            gameActive = true;
            let startTime = new Date();

            progressInterval = setInterval(() => {
                let elapsedTime = new Date() - startTime;
                let stopTime = elapsedTime + "";
                if(stopTime.length < 4){
                    let max_i = stopTime.length;
                    for(let i=0;i<4-max_i;i++){
                        stopTime = "0" + stopTime;
                    }
                }
                if(elapsedTime > 10000){
                    startTime = new Date();
                }
                stopTime = stopTime.substring(0,1) + "." + stopTime.substring(1,4);
                $("#countdown").text(stopTime);
                clock = Number(stopTime);
            }, 1);
        }

    }
</script>
</body>
</html>
