<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stage1</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body class="des">
<div id="des-base">
    <div id="des-stage-info">
        <p class="des-stage">Stage3</p>
        <h2>정답을 맞춰라!</h2>
        <p class="des-description">
            환경 보호를 주제로 한 문제를 풀며 재미있게 학습하세요! 
            기본 상식부터 기후 변화까지 다섯 가지 테마로 구성된 퀴즈에 도전하세요.
        </p>
    </div>

    <div id="des-filter-buttons"> 
        <button class="des-filter">환경 보호</button>
        <button class="des-filter">퀴즈</button>
    </div>

    <!-- 중앙 동그라미 -->
    <button id="circle-button" onclick="startGame()">시작</button>


    <button id="des-confirm">내용 확인</button>
</div>

<script>
    function showModal() {
        if(localStorage.getItem("reqUserId") == null){
            alert("별명을 먼저 입력해주세요.");
            location.replace("/index");
        }
        location.href = "/gtimer/point";
    }
</script>
</body>
</html>
