// main.scss

@font-face {
    font-family: 'PretendardVariable';
    src: url('../fonts/PretendardVariable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  // 나머지 SCSS 파일 import
  @import 'create';
  @import 'description';
  @import 'gspeed';
  @import 'gtimer';
  @import 'gquiz';

  
  html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  //sass --watch src/main/resources/static/scss/main.scss:src/main/resources/static/css/styles.css
  //sass --watch static/scss/main.scss:static/css/styles.css

  //폰트 적용을 위함 : font-family: 'PretendardVariable', sans-serif; /* 폰트 적용 */

